<html>
<head>
  <title>Welcome</title>
</head>
<body>

  <h1>Welcome to the Medical Data Portal</h1>
  
  <p>Click below to log in:</p>
  
  <ul>
    <li><%= link_to "Receptionist Login", new_user_session_path %></li>
    <li><%= link_to "Doctor Login", new_user_session_path %></li>
  </ul>

</body>
</html>
