.welcome-container {
  background-color: #f8f9fa;
  border: 2px solid #dee2e6;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  max-width: 600px auto;
  max-height: 600p auto;
}

.welcome-heading {
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
  color: rgb(54, 48, 48);
}

.welcome-nav {
  text-align: center;
  margin-top: 100px;
}

.sign-out {
  text-align: right;
}